<%- include('../layout/dashhead') %>
<%- include('../layout/header') %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
      <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
      <li class="breadcrumb-item text-sm text-dark active" aria-current="page">dashboard</li>
    </ol>
    <h6 class="font-weight-bolder mb-0">Category</h6>
  </nav>
    
    <div class="row">
      <div class="col-lg-10 m-auto">
          <div class="table-container">
              <table class="table table-hover mt-4">
                  <thead>
                      <tr>
                          <th scope="col">Category Name</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% categories.forEach(category => { %>
                          <tr>
                              <td><%= category.category %></td>
                              <td>
                                  <a href="/admin/editcategory/<%= category._id %>" class="btn btn-primary">Edit</a>
                                  <a href="#" class="btn btn-danger delete-category" data-categoryid="<%= category._id %>">Delete</a>
                              </td>
                          </tr>
                      <% }); %>
                  </tbody>
              </table>
          </div>
          <a href="/admin/categories" class="btn btn-primary add-user" id="addUser">Add Category</a>
      </div>
  </div>





 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $(".delete-category").on("click", function(event) {
    event.preventDefault();

    const categoryId = $(this).data("categoryid");

    if (confirm("Are you sure you want to delete this category?")) {
      $.ajax({
        type: "DELETE",
        url: `/admin/deletecategory/${categoryId}`, 
        success: function(response) {
          window.location.reload();
        },
        error: function(error) {
          console.error("Error deleting category:", error);
        }
      });
    }
  });
});
</script>

