<%- include('../layout/dashhead') %>
<%- include('../layout/header') %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">dashboard</li>
  </ol>
  <h6 class="font-weight-bolder mb-0">Products</h6>
</nav>



<div class="container">
  <table class="table table-bordered">
    <div class="d-flex justify-content-end">
      <a href="/admin/form" class="btn btn-primary add-user" id="addUser">Add Product</a>
    </div>
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Product Image</th>
        <th scope="col">Product Price</th>
        <th scope="col">Product Description</th>
        <th scope="col">Product Category</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach((product, index) => { %>
        <tr>
          <td><%= product.productName %></td>
          <td>
            <% if (product.productImage && product.productImage.length > 0) { %>
              <img src="/malefashion-master/images/<%= product.productImage[0].filename %>" width="100">
            <% } else { %>
             
            <% } %>
          </td>
          <td><%= product.productPrice %></td>
          <td><%= product.productDescription %></td>
          <td><%= product.productCategory %></td>
          <td>
            <a href="/admin/editproduct/<%= product._id %>" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger delete-product" data-productid="<%= product._id %>">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  
</div>






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 $(document).ready(function() {
  $(".delete-product").on("click", function(event) {
    event.preventDefault(); 

    const productId = $(this).data("productid"); 

    if (confirm("Are you sure you want to delete this product?")) {
      $.ajax({
        type: "DELETE", 
        url: `/admin/deleteproduct/${productId}`,
        success: function(response) {
         
          window.location.reload();
        },
        error: function(error) {
          console.error("Error deleting product:", error);
        }
      });
    }
  });
});

</script>
