<%- include('../layout/header') %>

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<style>

label {
    font-weight: bold;
    font-size: 18px; 
    margin-right: 10px;
}

span {
    font-weight: normal;
    font-size: 18px; 
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    font-size: 18px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}


    .user-address {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-address:hover {
    background-color: #f5f5f5;
}

.user-address input[type="radio"] {
    margin-right: 10px;
}


</style>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./index">Home</a></li>
                            <li class="active"><a href="./shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about">About Us</a></li>
                                    <li><a href="./shop-details">Shop Details</a></li>
                                    <li><a href="./shopping-cart">Shopping Cart</a></li>
                                    <li><a href="./checkout">Check Out</a></li>
                                    <li><a href="./blog-details">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog">Blog</a></li>
                            <li><a href="./contact">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="#"><img src="img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->



    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <h6 class="coupon__code">
                            <span class="icon_tag_alt"></span>
                            Have a coupon?
                            <a href="#">Click here</a> to enter your code
                        </h6>
                        <h6 class="checkout__title">Billing Details</h6>
    
                        <h6 class="checkout__title">Your Address</h6>
    
                       
                        <button id="showAddressBtn">Add Address</button>
    
                      
                        <div id="addressForm" style="display: none;">
                            <form action="/checkout" method="post">
                                <div class="user-address">
                                    <div class="address-item">
                                        <label for="name">Name:</label>
                                        <input type="text" id="name" name="name" value="">
                                    </div>
                                    
                                    <div class="address-item">
                                        <label for="number">Mobile Number:</label>
                                        <input type="text" id="number" name="number" value="">
                                    </div>

                                    <div class="address-item">
                                        <label for="house">House:</label>
                                        <input type="text" id="house" name="house" value="">
                                    </div>
    
                                    <div class="address-item">
                                        <label for="city">City:</label>
                                        <input type="text" id="city" name="city" value="">
                                    </div>
    
                                    <div class="address-item">
                                        <label for="state">State:</label>
                                        <input type="text" id="state" name="state" value="">
                                    </div>
    
                                    <div class="address-item">
                                        <label for="pincode">Pincode:</label>
                                        <input type="number" id="pincode" name="pincode" value="">
                                    </div>
    
                                    <div class="address-item">
                                        <label for="delivery_point">Delivery Point:</label>
                                        <input type="text" id="delivery_point" name="delivery_point" value="">
                                    </div>
    
                                    <button type="submit" class="site-btn">Submit Address</button>
                                </div>
                            </form>
                        </div>
    
                    
                        <div id="userAddresses">
                            <% address.forEach(function(addr, index) { %>
                                <div class="user-address">
                                    <p><strong>Name:</strong> <%= addr.name %></p>
                                    <p><strong>Number</strong> <%= addr.number %></p>
                                    <p><strong>House:</strong> <%= addr.house %></p>
                                    <p><strong>City:</strong> <%= addr.city %></p>
                                    <p><strong>State:</strong> <%= addr.state %></p>
                                    <p><strong>Pincode:</strong> <%= addr.pincode %></p>
                                    <p><strong>Delivery Point:</strong> <%= addr.delivery_point %></p>
                                    <input type="radio" name="selectedAddress" value="<%= index %>"> 
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


                    <div class="col-lg-4 col-md-6">
                     <section class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">
                                    Product
                                    <span>Total</span>
                                </div>
                                <ul class="checkout__total__products">
                                    <input type="hidden" name="cartItems" id="cartItems" value="">
                                    <% cartItems.forEach(function(item) { %>
                                        <li>
                                            <%= item.ProductId.productName %> 
                                            <span>$ <%= item.ProductId.productPrice %></span> 
                                        </li>
                                    <% }); %>
                                </ul>
                                <ul class="checkout__total__all">
                                    <li>Total <span>$<%= totalSum %> </span></li> 
                                </ul>


                               

                              
                                <div class="payment-method">
                                    <div class="form-check">
                                        <input
                                            onclick="toggleCashOnDelivery(this)"
                                            class="form-check-input"
                                            type="checkbox" 
                                            name="payment"
                                            id="COD"
                                        />
                                        <label class="form-check-label" for="COD">
                                            Cash On Delivery
                                        </label>
                                    </div>
                                </div>
                                <button
                                    class="btn"
                                    onclick="CheckplaceOrder()"
                                    value="Place order"
                                    id="placeOrderButton"
                                    disabled 
                                >
                                    Place Order
                                </button>
                                
                                
                                    </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
    
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->


</body>

</html>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
<script>

function toggleCashOnDelivery(element) {
        var placeOrderButton = document.getElementById("placeOrderButton");
        
        if (element.checked) {
            placeOrderButton.removeAttribute("disabled");
        } else {
            placeOrderButton.setAttribute("disabled", "disabled");
        }
    }

async function CheckplaceOrder() {
    const selectedAddressRadioButtons = document.getElementsByName("selectedAddress");

    let selectedAddressId = null;
    for (let i = 0; i < selectedAddressRadioButtons.length; i++) {
        if (selectedAddressRadioButtons[i].checked) {
            selectedAddressId = selectedAddressRadioButtons[i].value;
            break; 
        }
    }

    if (selectedAddressId === null) {
        Swal.fire({
            text: "Please select an address!",
            icon: 'error',
            showConfirmButton: false,
            timer: 1000,
        });
        return;
    }
    
    const paymentMethod = document.getElementById("COD").checked ? "Cash On Delivery" : null;
   

    const response = await fetch('/order', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            selectedAddressId,
            cartItems,
            paymentMethod,
        }),
    });

    if (response.status === 200) {
        Swal.fire({
            text: "Order placed successfully!",
            icon: 'success',
            showConfirmButton: false,
            timer: 1000,
        });
    } else {
        Swal.fire({
            text: "Failed to place the order!",
            icon: 'error',
            showConfirmButton: false,
            timer: 1000,
        });
    }
}




$(document).ready(function() {
        $('#showAddressBtn').click(function() {
            $('#userAddress').toggle();
            $('#addressForm').toggle();
        });
    });
</script>






























<%- include('../layout/footer') %>