<%- include('../layout/header') %>

<!DOCTYPE html>
<html lang="zxx">

<style>
    #logoutButton {
        background-color: #000000;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 13px;
    }

    #logoutButton:hover {
        background-color: #45a049;
    }
    

    .btn.btn-warning {
        font-size: 18px;
    }
    .header__nav__option {
    display: flex;
    align-items: center;
}

.nav-icons {
    display: flex;
}

.nav-icons a {
    margin-right: 30px;
}

#logoutButton {
    margin-left: 30px; 
}



</style>


<body>
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
         
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> 
           
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Header Section Begin -->
        <div class="container">
             
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index"><img src="/malefashion-master/images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./shop">Shop Details</a></li>
                                    <li><a href="./shoppingcart">Shopping Cart</a></li>
                                    <li><a href="./checkout">Check Out</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <div class="nav-icons">
                            <a href="./wishlist"><img src="/malefashion-master/images/heart.png" alt=""></a>
                            <a href="./shoppingcart"><img src="/malefashion-master/images/cart.png" alt=""> <span></span></a>
                            <a href="./profile"><img src="/malefashion-master/images/profile.png" alt=""></a>
                        </div>
                        <button id="logoutButton" type="button">Logout</button>
                    </div>
                </div>
                
                    
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <% banners.forEach((banner) => { %>
                <div class="hero__items set-bg" data-setbg="/malefashion-master/images/<%= banner.bannerImage.filename %>">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7 col-md-8">
                                <div class="hero__text">
                                    <h6><%= banner.title %></h6>
                                    <h2><%= banner.description %></h2>
                                    <p>Coupon Code: <%= banner.couponCode %></p>
                                    <!-- <a href="./shop" class="primary-btn">Shop now <span class="arrow_right"></span></a> -->
                                    <div class="hero__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
    
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="/malefashion-master/images/banner-1.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Clothing Collections</h2>
                            <a href="./shop">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="malefashion-master/images/loosejersey1.webp" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>MENS</h2>
                            <a href="./shop">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="/malefashion-master/images/kidsshirt1.jpeg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>KIDS</h2>
                            <a href="./shop">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
  
               
               
            
               
              
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
   
    <!-- Latest Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="malefashion-master/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="malefashion-master/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="./shop">Clothing Store</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

</body>

</html>

<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>




<script>
    document.getElementById('logoutButton').addEventListener('click', function() {
      fetch('/logout', {
        method: 'POST', 
        credentials: 'same-origin' 
      })
      .then(function(response) {
        if (response.status === 200) {
          window.location.href = '/login';
        } else {
          console.error('Logout failed');
        }
      })
      .catch(function(error) {
        console.error('Logout request failed:', error);
      });
    });
  </script>



            </div>
        </div>
    </div>
</div>

<%- include('../layout/footer') %>
