<%- include('../layout/header') %>

<!DOCTYPE html>
<html lang="zxx">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .container1 {
            max-width: 400px;
            margin: 0 auto; 
            text-align: center;
        }

        .reset-password-link {
        color: #111417; 
        font-weight: bold; 
     cursor: pointer; 
}

    </style>
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

   
 
          

 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-M46Hv7k9L/daV3/CCa3FcfllC2nogQb3lW8k7Zqy5I5bOHxdK1f2c5O5t1ok5Em3T" crossorigin="anonymous"></script>
</body>
</html>

  

    <!-- Header Section Begin -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index"><img src="/malefashion-master/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./index">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./shop-details">Shop Details</a></li>
                                    <li><a href="./shopping-cart">Shopping Cart</a></li>
                                    <li><a href="./checkout">Check Out</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>


   



    <div class="container1">
        <img src="/malefashion-master/images/myprofile.jpeg" alt="Profile Picture">
        <h4 id="name"><strong>NAME:</strong> <%= userData.name %></h4>
        <h4 id="email"><strong>EMAIL:</strong> <%= userData.email %></h4>
    </div>
   
 
    <div class="container">
        <div class="card mb-4">
            <div class="card-header">
                <a href="/myorder" class="reset-password-link">My Orders</a>
            </div>
        </div>
    </div>



    
    <div class="container">
        <div class="card mb-4">
            <div class="card-header">
                <a href="/changepassword" class="reset-password-link">Reset Password</a>
            </div>
        </div>
    </div>




<div class="container">
    <div class="card mb-4">
      <div class="card-header"> Address :</div>
      <div class="card-body">
        
            <% address.forEach(function(item) { %>
                  <div class="bg-white card addresses-item mb-4 border border-primary shadow">
                      <div class="gold-members p-4">
                          <div class="media">
                              <div class="mr-3"><i class="icofont-ui-home icofont-3x"></i>
                              </div>
                              <div class="media-body">
                                  <h6 class="mb-1 text-secondary"><%=item.delivery_point%></h6>
                                  <p class="text-black"><%=item.name%> 
                                      <b><%=item.number%></b>
                                  </p>
                                  <p><%=item.house%></p>
                                  <p><%=item.city%>,<%=item.state%></p>
                                  <p><%=item.pincode%> </p>
                                  <a class="btn btn-success" href="/edit-address/<%= item._id %>">Edit</a>
                                  <a class="btn btn-danger" href="/deleteaddress?id=<%=item._id%>"
                                      onclick="return confirm('Are You Sure ?')">DELETE</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <% }) %>
          </div>
      </div>
      </div>



    



</body>

</html>
<%- include('../layout/footer') %>