<%- include('../layout/header') %>

<!DOCTYPE html>
<html lang="zxx">
    <style>
        .product-list {
            text-align: center;
          
        }
    
        .product-item {
            display: inline-block; 
            margin: 0 50px;
            text-align: center; 
            
        }

        .wishlist-btn {
    background-color: transparent;
     border: none;
     cursor: pointer;
     font-size: 1.5em; 
    color: rgb(0, 0, 0); 
    }

    .wishlist-btn:hover {
  color: darkred; 
    }
    </style>
    


<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="./index"><img src="/malefashion-master/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="./index">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="./shop-details">Shop Details</a></li>
                                <li><a href="./shopping-cart">Shopping Cart</a></li>
                                <li><a href="./checkout">Check Out</a></li>
                                <li><a href="./blog-details">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./contact">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <!-- Your existing nav options code -->
                <div class="header__nav__option">
                    <div class="nav-icons">
                        <a href="./wishlist"><img src="/malefashion-master/img/icon/heart.png" alt=""></a>
                        <a href="./shoppingcart"><img src="/malefashion-master/img/icon/cart.png" alt=""> <span></span></a>
                    </div>
                </div>
            </div>
        </div>
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Shop</h4>
                            <div class="breadcrumb__links">
                                <a href="./index">Home</a>
                                <span>Shop</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      

        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    <h5>Search Results for:</h5>
                     <h2><%= query %></h2>
                    <% if (searchResults.length > 0) { %>
                        <div class="product-list">
                            <% searchResults.forEach(product => { %>
                                <div class="product-item">
                                    <img src="/malefashion-master/images/<%= product.productImage[0].filename %>" alt="<%= product.productName %>" style="width: 250px; height: 250px;">
                                    <a href="./shopdetails?id=<%= product._id %>"><img src="/malefashion-master/img/icon/search.png" alt=""></a>
                                    <li>
                                        <button class="wishlist-btn" data-product-id="<%= product._id %>">
                                          &#10084;
                                        </button>
                                    <div class="product__item__text">
                                        <h6><%= product.productName %></h6>
                                        <h5>$<%= product.productPrice %></h5>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    <% } else { %>
                        <p>No results found.</p>
                    <% } %>
                </div>
            </div>
        </div>
        <section>
      
    


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        
        document.addEventListener('DOMContentLoaded', function () {
        const wishlistButtons = document.querySelectorAll('.wishlist-btn');

         wishlistButtons.forEach(button => {
        button.addEventListener('click', async function () {
            const productId = button.getAttribute('data-product-id');

            if (!productId) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Product information is missing.'
                });
                return;
            }

            try {
                const response = await fetch(`/wishlist/${productId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                       
                    }),
                });

                if (response.ok) {
                    console.log('Product added to wishlist successfully');
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Product added to the wishlist successfully.'
                    });
                } else {
                    console.error('Failed to add product to wishlist');
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Failed to add the product to the wishlist.'
                    });
                }
            } catch (error) {
                console.error('An error occurred:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred. Please try again.'
                });
            }
        });
    });
});
    </script>