<%- include('../layout/header') %>


<!DOCTYPE html>
<html lang="zxx">
<style>
     .custom-button {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
  }

  .wishlist-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em; 
  color: rgb(0, 0, 0); 
}

.wishlist-btn:hover {
  color: darkred; 
}

</style>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

        <link rel="stylesheet" href="path-to-elevate-zoom-css/elevatezoom.css">
        <script src="path-to-elevate-zoom-js/jquery.elevateZoom-3.0.8.min.js"></script>
    </head>
    
   

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

 
   

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index"><img src="malefashion-master/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="./index">Home</a></li>
                            <li class="active"><a href="./shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./shop">Shop Details</a></li>
                                    <li><a href="./shoppingcart">Shopping Cart</a></li>
                                    <li><a href="./checkout">Check Out</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="malefashion-master/img/icon/search.png" alt=""></a>
                        <a href="./wishlist"><img src="malefashion-master/img/icon/heart.png" alt=""></a>
                        <a href="./shoppingcart"><img src="malefashion-master/img/icon/cart.png" alt=""> <span></span></a>
                        <div class="price"></div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->


    
    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="/search" method="GET">
                                <input type="text" name="query" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                            </div>


                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <% for (let i = 0; i < categories.length; i++) { %>
                                                        <li><a href="#" class="category-link" data-category="<%= categories[i].category %>"><%= categories[i].category %></a></li>
                                                    <% } %>
                                                </ul>
                                            </div>
                                            <div id="category-content"></div>
                                        </div>        
                                    </div>
                                </div>
                                


                                <div class="card">
                                    <div class="card-heading">
                                        <!-- <a data-toggle="collapse" data-target="#collapseSix">Tags</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <!-- <p>Showing 1–8 of 26 results</p> -->
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select id="sortSelect">
                                        <!-- <option value="default">Default</option> -->
                                        <option value="lowToHigh">Low to High</option>
                                        <option value="highToLow">High to Low</option>
                                    </select>
                                    <button id="sortButton" class="custom-button">Apply</button>


                                </div>
                            </div>
                            
                        </div>
                    </div>
                  
                  
                    <section class="shop__product">
                        <div class="row" id="products-container">
                          <% if (products.length > 0) { %>
                            <% products.forEach((product, index) => { %>
                              <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                  <% if (productImages[index].length > 0) { %>
                                    <div class="product" data-product-id="<%= product.product_id %>">
                                      <a href="#"> 
                                        <div class="product__item__pic set-bg" data-setbg="/malefashion-master/images/<%= product.productImage[0].filename %>">
                                          <ul class="product__hover">
                                            <li>
                                                <button class="wishlist-btn" data-product-id="<%= product._id %>">
                                                  &#10084;
                                                </button>
                                              </li>
    
                                            <li>
                                              <a href="./shopdetails?id=<%= product._id %>"><img src="/malefashion-master/img/icon/search.png" alt=""></a>
                                            </li>
                                          </ul>
                                        </div>
                                      </a>
                                    </div>
                                  <% } %>
                                  <div class="product__item__text">
                                    <h6><%= product.productName %></h6>
                                    <p><%= product.productDescription %></p>
                                    <!-- <a class="add-cart" value="pr" data-product-id="<%= product._id %>" data-user-id="<%= userId %>">+ Add to Cart</a> -->
                                    <div class="rating">
                                      <i class="fa fa-star-o"></i>
                                      <i class="fa fa-star-o"></i>
                                      <i class="fa fa-star-o"></i>
                                      <i class="fa fa-star-o"></i>
                                      <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>₹<%= product.productPrice %></h5>
                                  </div>
                                </div>
                              </div>
                            <% }); %>
                          <% } else { %>
                            <p>No products available.</p>
                          <% } %>
                        </div>
                      </section>
                      

                      <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <% for (let i = 1; i <= products; i++) { %>
                                    <% if (i === currentPage) { %>
                                        <a class="active" href="#"><%= i %></a>
                                    <% } else { %>
                                        <a href="/getProducts/<%= i %>"><%= i %></a>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    

                    
                   
                    </div>
                    </div>   
            </section>
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="malefashion-master/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="malefashion-master/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->


       
       
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
   document.addEventListener('DOMContentLoaded', function () {
    const addToCartButtons = document.querySelectorAll('.add-cart');
    const categoryLinks = document.querySelectorAll(".category-link");
    const sortSelect = document.getElementById('sortSelect');
    const sortButton = document.getElementById('sortButton'); 
    const productsContainer = document.getElementById("products-container");

        addToCartButtons.forEach(button => {
            button.addEventListener('click', async function () {
                const productId = button.getAttribute('data-product-id');
                const userId = button.getAttribute('data-user-id');

                if (!userId || !productId) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'User or product information is missing.'
                    });
                    return;
                }

                try {
                    const response = await fetch(`/shoppingcart/${productId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });

                    if (response.ok) {
                        const result = await response.json();
                        if (result.message === 'Product added to the cart successfully.') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Product added to the cart successfully.'
                            });
                        } else if (result.message === 'Product is already in the cart.') {
                            Swal.fire({
                                icon: 'info',
                                title: 'Info',
                                text: 'Product is already in the cart.'
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Failed to add the product to the cart.'
                            });
                        }
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Failed to communicate with the server.'
                        });
                    }
                } catch (error) {
                    console.error('An error occurred:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred. Please try again.'
                    });
                }
            });
        });

        categoryLinks.forEach(link => {
        link.addEventListener("click", async function (event) {
            event.preventDefault();
            const selectedCategory = this.getAttribute("data-category");

            try {
                const response = await fetch(`/categorySelection/${selectedCategory}`);
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const categoryDetails = await response.json();
                renderProducts(categoryDetails.products);
            } catch (error) {
                console.error("Error fetching products:", error);
            }
        });
    });



    sortButton.addEventListener('click', function () { 
        const selectedOption = sortSelect.value;
        console.log('Selected Option:', selectedOption);
        fetchAndRenderSortedProducts(selectedOption);
    });

    sortSelect.addEventListener('change', function () {
        const selectedOption = sortSelect.value;
        console.log('Selected Option:', selectedOption);
    });




    async function fetchAndRenderSortedProducts(option) {
    try {
        const url = `/sortProducts?option=${option}`;
        const response = await fetch(url);

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const sortedProducts = await response.json();
        console.log('Sorted Products:', sortedProducts);
        renderProducts(sortedProducts);

        history.pushState({ option }, null, url);
    } catch (error) {
        console.error('Error fetching and displaying sorted products:', error);
    }
}



    function renderProducts(products) {
        productsContainer.innerHTML = '';

        products.forEach(product => {
            const productElement = createProductElement(product);
            productsContainer.appendChild(productElement);
        });
    }



    

    function createProductElement(product) {
        const productElement = document.createElement("div");
        productElement.className = "col-lg-4 col-md-6 col-sm-6";

        productElement.innerHTML = `
        <div class="product__item">
            <div class="product" data-product-id="${product.product_id}">
                <a href="#">
                    <img src="/malefashion-master/images/${product.productImage[0].filename}" alt="${product.productName}">
                    <ul class="product__hover">
                        <li><a href="#"><img src="/malefashion-master/img/icon/heart.png" alt=""></a></li>
                        <li><a href="./shopdetails?id=${product._id}"><img src="/malefashion-master/img/icon/search.png" alt=""></a></li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="product__item__text">
            <h6>${product.productName}</h6>
            <div class="rating">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h5>₹${product.productPrice}</h5>
            <div class="product__color__select">
            </div>
        </div>
    </div>
    `;
        return productElement;
    }
});







document.addEventListener('DOMContentLoaded', function () {
    const wishlistButtons = document.querySelectorAll('.wishlist-btn');

    wishlistButtons.forEach(button => {
        button.addEventListener('click', async function () {
            const productId = button.getAttribute('data-product-id');

            if (!productId) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Product information is missing.'
                });
                return;
            }

            try {
                const response = await fetch(`/wishlist/${productId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                       
                    }),
                });

                if (response.ok) {
                    console.log('Product added to wishlist successfully');
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Product added to the wishlist successfully.'
                    });
                } else {
                    console.error('Failed to add product to wishlist');
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Failed to add the product to the wishlist.'
                    });
                }
            } catch (error) {
                console.error('An error occurred:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred. Please try again.'
                });
            }
        });
    });
});



</script>


</html>

<%- include('../layout/footer') %>